body {
    background-color: transparent;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #ffffff;
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

#chat-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 95vh;
    max-height: 95vh;
}

.chat-message {
    margin-bottom: 12px;
    animation: fadeIn 0.3s ease-in-out;
    word-wrap: break-word;
}

.username {
    font-weight: bold;
}

.message-text {
    color: #f0f0f0;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

.message-text figure {
    display: inline;
    margin: 0;
}
.message-text img {
    vertical-align: middle;
    max-height: 28px; /* depends on font size, may need to play with it */
}
